## ngineerx.conf

##
## DEFAULTS
##

# host IP (note: 127.0.0.1 will not work in jails. In this case put a real IP here)
# server_ip="127.0.0.1"

# default port for php-fpm to start from (will be inrcremmented with every pool that is created)
# php_pool_port=9001

##
## User configuration
##

# Run php as this user when no other one is specified (default: www_php)
# php_user="www_php"

# Run nginx as this user (default: www)
# nginx_user="www"

# Path to the websites (default: /usr/local/www)
# Every hosted site will get its own subdirectory here
# ngineerx_webroot="/usr/local/www"

##
## Common crypto settings
##

# Key size for Diffie Hellman parameters for nginx (default: 2048)
# dhkeysize=2048

##
## Settings for letsencrypt
##

# Keysize for the created certs
# le_keysize=4096

# Default e-mail address that is used to register certificates with nginx
# le_email="webmaster@example.com"

# Additional options for acme client
# le_options="--agree-tos -g"

##
## Paths
##

# etc directory (default: /usr/local/etc)
# etc_dir="/usr/local/etc"

# nginx config directory (default: $etc_dir/nginx)
# nginx_conf_dir="$etc_dir/nginx"

# directory for php-fpm pool configs (default: $etc_dir/php/php-fpm.d)
# phpfpm_conf_dir="$etc_dir/php/php-fpm.d"

# letsencrypt config directory (default: $etc_dir/dehydrated)
# letsencrypt_conf_dir="$etc_dir/dehydrated"

# webroot that is used to store tokens for letsencrypt auth process
# letsencrypt_webroot="$letsencrypt_conf_dir/.acme-challenges"

# openssl binary (default: /usr/local/bin/openssl)
# openssl="/usr/local/bin/openssl"

# nginx pid file (default: /var/run/nginx.pid)
# nginxpid="/var/run/nginx.pid"

# php-fpm pid file (default: /var/run/php-fpm.pid)
# phppid="/var/run/php-fpm.pid"

# nginx init script (default: $etc_dir/rc.d/nginx)
# nginx="$etc_dir/rc.d/nginx"

# php-fpm init script (default: $etc_dir/rc.d/php-fpm)
# phpfpm="$etc_dir/rc.d/php-fpm"
